.mainpage{
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}
.navigation-bar{
    background:rgb(248, 247, 247);
    height: 100%;
    width: 100%;
}
.box1{
    background:pink;
    margin-left: auto;
    margin-right: auto; 
    width:300px;
    border: 2px solid black;
    display:block;
}
.box2{
    background:pink;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    border: 2px solid black;
    display:block;
}
.box3{
    background:pink;
    margin-left: auto;
    margin-right: auto; 
    width:300px;
    border: 2px solid black;
    display:block;
}
.box4{
    background:pink;
    margin-left: auto;
    margin-right: auto; 
    width:300px;
    border: 2px solid black;
    display:block;
}
.header{
    text-align:center;
    font-style: italic;
    background-color:rgb(179, 189, 152);
    color:white;
    font-family: serif;
    border: 3px solid paleturquoise;
    padding:2px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }