.mainpage{
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}
.navigation-bar{
    background:rgb(192, 168, 168);
    height: 100%;
    width: 100%;
}
.box1{
    background:pink;
    margin-left: auto;
    margin-right: auto; 
    width:300px;
    border: 2px solid black;
    display:block;
}
.box2{
    background:pink;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    border: 2px solid black;
    display:block;
}
.box3{
    background:pink;
    margin-left: auto;
    margin-right: auto; 
    width:300px;
    border: 2px solid black;
    display:block;
}
.box4{
    background:pink;
    margin-left: auto;
    margin-right: auto; 
    width:300px;
    border: 2px solid black;
    display:block;
}
.header{
    text-align:center;
    font-style: italic;
    background-color:rgb(179, 189, 152);
    color:white;
    font-family: serif;
    border: 3px solid paleturquoise;
    padding:2px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
article{
    float: right;
    padding:50px;
    width: 95%;
    background-color: rgb(237, 198, 198);
    height:320px;
} 
footer{
    background-color: #8d8888;
    padding: 10px;
    text-align: center;
    color: white;
}
@media screen and (max-width: 600px) {
    .navigation-bar button {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
    article {
        padding: 10px;
        width: 90%;
        height:100%;
        margin: 10px 0;
    }
    .header {
        padding: 5px;
    }
}